@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&display=swap');

* {
    font-family: "Handjet";
	transition: all .2s ease-in-out;
}

body {
    margin: 0;
    background-color: black;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    image-rendering: crisp-edges;
    background-color: black;
}

#start-game {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #55DD11;
    border: none;
    font-size: 4rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

#start-game:hover {
    background-color: #77FF33;
}

#fps {
    margin: 0;
    color: #FF0000AA;
    font-size: 2rem;
    position: absolute;
    left: 1vh;
    bottom: 1vh;
    z-index: 9999;
}

#tps {
    margin: 0;
    color: #FF0000AA;
    font-size: 2rem;
    position: absolute;
    left: 1vh;
    bottom: calc(2vh + 2rem);
    z-index: 9999;
}

.heal {
    margin: 0;
    padding: 0;
    position: absolute;
    color: green;
  	text-shadow: 2px 2px black;
  	transform: translate(-50%, -50%);
  	animation-name: fade;
}

.damage {
    margin: 0;
    padding: 0;
    position: absolute;
    color: red;
  	text-shadow: 2px 2px black;
  	transform: translate(-50%, -50%);
  	animation-name: fade;
}

@keyframes fade {
    from {
        opacity: 1;
  		transform: translate(-50%, -50%);
    }

    to {
	  	transform: translate(-50%, -200%);
        opacity: 0;
    }
}

.critical-damage {
    margin: 0;
    padding: 0;
    position: absolute;
    color: yellow;
  	text-shadow: 2px 2px red;
  	transform: translate(-50%, -50%);
  	animation-name: critical-dance;
}

@keyframes critical-dance {
    0% {
        opacity: 1;
		transform: translate(-50%, -50%);
    }

    20% {
		color: red;
		text-shadow: 2px 2px yellow;
		transform: translate(-50%, 0%) rotate(-60deg);
    }

	40% {
		color: yellow;
		text-shadow: 2px 2px red;
		transform: translate(-50%, -25%) rotate(45deg);
    }

    60% {
		color: yellow;
		text-shadow: 2px 2px red;
		transform: translate(-50%, -75%) rotate(-30deg);
    }

	80% {
		color: red;
		text-shadow: 2px 2px yellow;
		transform: translate(-50%, -150%) rotate(15deg);
        opacity: 1;
    }

    100% {
		transform: translate(-50%, -250%);
        opacity: 0;
    }
}

.player-ui {
    margin: 0;
    position: absolute;
    color: #AAA;
    mix-blend-mode: multiply;
    transform: translateY(-50%);
}

.end-screen-container {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: #0000;
    z-index: 1;
    backdrop-filter: blur(4px);
    animation: fade-in 1s;
}

@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}

.end-screen {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 60%;
    min-height: 60%;
    transform: translate(-50%, -50%);
    background-color: #4444;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.end-screen * {
    color: #444;
    margin: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.end-screen h1 {
    font-size: 4rem;
}

.end-screen button {
    font-size: 2.5rem;
    border: none;
    width: fit-content;
    margin-left: 50%;
    padding-left: 1rem;
    padding-right: 1rem;
    transform: translateX(-50%);
    background-color: #888;
}

.end-screen button:hover {
    background-color: #AAA;
}

.end-screen table {
    font-size: 3rem;
    color: inherit;
}

.end-screen table tr {
    color: inherit;
}

.end-screen table tr td {
    color: inherit;
    padding-left: 2rem;
}
