@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&display=swap');

body {
    font-family: "Handjet";
    margin: 0;
    background-color: #9BC;
    transition: all .2s ease-in-out;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    image-rendering: crisp-edges;
}

#fps {
    margin: 0;
    color: #FF0000AA;
    font-size: 2rem;
    position: absolute;
    left: 1vh;
    bottom: 1vh;
}

#tps {
    margin: 0;
    color: #FF0000AA;
    font-size: 2rem;
    position: absolute;
    left: 1vh;
    bottom: calc(2vh + 2rem);
}

.heal {
    margin: 0;
    padding: 0;
    position: absolute;
    color: green;
  	text-shadow: 2px 2px black;
  	transform: translate(-50%, -50%);
  	animation-name: fade;
}

.damage {
    margin: 0;
    padding: 0;
    position: absolute;
    color: red;
  	text-shadow: 2px 2px black;
  	transform: translate(-50%, -50%);
  	animation-name: fade;
}

@keyframes fade {
    from {
        opacity: 1;
  		transform: translate(-50%, -50%);
    }

    to {
	  	transform: translate(-50%, -200%);
        opacity: 0;
    }
}

.critical-damage {
    margin: 0;
    padding: 0;
    position: absolute;
    color: yellow;
  	text-shadow: 2px 2px red;
  	transform: translate(-50%, -50%);
  	animation-name: critical-dance;
}

@keyframes critical-dance {
    0% {
        opacity: 1;
		transform: translate(-50%, -50%);
    }

    20% {
		color: red;
		text-shadow: 2px 2px yellow;
		transform: translate(-50%, 0%) rotate(-60deg);
    }

	40% {
		color: yellow;
		text-shadow: 2px 2px red;
		transform: translate(-50%, -25%) rotate(45deg);
    }

    60% {
		color: yellow;
		text-shadow: 2px 2px red;
		transform: translate(-50%, -75%) rotate(-30deg);
    }

	80% {
		color: red;
		text-shadow: 2px 2px yellow;
		transform: translate(-50%, -150%) rotate(15deg);
        opacity: 1;
    }

    100% {
		transform: translate(-50%, -250%);
        opacity: 0;
    }
}

.player-ui {
    margin: 0;
    position: absolute;
    color: #444;
    opacity: 70%;
    transform: translateY(-50%);
}
